body{
    margin: 0;
}

.contenedor-flexible{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor-flexible2{
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.elemento-flexible{
    font-size: 5rem;
    width: 50vw;
    flex-basis: 50vh;
    color: white;  
}

.uno{
    flex-basis: 50vh;
    flex-grow: 1;
    flex-shrink: 1;
    background-image: url(frank.png);
    background-position: center;    
    background-size: cover;
    background-repeat: no-repeat;
}

.dos{
    background-color: blue;
    flex-basis: 50vh;
    flex-grow: 1;
    flex-shrink: 1;
    background-image: url(kailo.jpg);
    background-position: center;    
    background-size: cover;
    background-repeat: no-repeat;
}

.tres{
    background-image: url(travis.jpg);
    background-position: center;    
    background-color: green;
    flex-basis: 50vh;
    flex-grow: 1;
    flex-shrink: 1;
    background-size: cover;
    background-repeat: no-repeat;
}
